:root {
  --deep-blue: #3c2c9c;
  --grassland-green: #4a824a;
  --dark-grassland-green: #448644;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
  padding: 2rem;

  background-image: url(waves.png);
  background-color:#46a4b5;
}

game-board {
  display: grid;

  aspect-ratio: var(--board-column-count) / var(--board-row-count);

  width: min(
    calc(100dvw - 4rem),
    calc((100dvh - 4rem) * (var(--board-column-count) / var(--board-row-count)))
  );

  height: 100%;
  max-width: 100%;
  max-height: 100%;

  main#game-board {
    width: 100%;
    height: 100%;
    display: grid;
    background: #549254;

    game-cell {
      aspect-ratio: 1;
      display: grid;
      place-content: center;
      padding: 0;
      margin: 0;
      /* outline: 1px solid white; */
      height: 100%;
      width: 100%;

      &[terrain="water"] {
        background-color: var(--deep-blue);
      }

      &[terrain="grassland"] {
        background-image: radial-gradient(circle, var(--grassland-green), var(--dark-grassland-green))
      }

      .avatar {
        display: contents;
        place-content: center;
        height: 100%;
        width: 100%;
      }
    }
  }
}